/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  position: relative;
  display: block;
  overflow-x: auto;
  @apply .bg-grey-l5 .text-sm .text-grey-d4 .border .shadow-lg .rounded-lg .p-4 .-mx-6 .my-0;
}

.hljs-lang {
  position: absolute;
  right: 10px;
  top: 8px;
  @apply .text-sm .text-grey .font-medium .uppercase;
}

.hljs-comment,
.hljs-quote {
  font-style: italic;
  @apply .text-grey-l2;
}

/* .hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
} */

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  @apply .text-green;
}

.hljs-keyword {
  @apply .text-red;
}

.hljs-string,
.hljs-doctag {
  @apply .text-red;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  @apply .text-red;
  font-weight: bold;
}

.hljs-title {
  @apply .text-purple;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  @apply .text-grey .font-medium;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
