/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

/** Regular */
@font-face font-family: "SFMono-Regular"
  font-weight: 400
  src: url('/SFMono-Regular.otf')

html {
  @apply .font-sans;
}

body {
  @apply .text-grey-darkest;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .text-brown-darkest .font-serif;
  &:not(:first-child) {
    @apply mt-8;
  }
}

h1 {
  @apply .text-4xl mb-8;
}

h2 {
  @apply .text-3xl mb-6;
}

h3 {
  @apply .text-2xl mb-6;
}

h4 {
  @apply .text-xl mb-6;
}

h5 {
  @apply mb-6;
}

h6 {
  @apply .text-sm .tracking-wide mb-6;
}

p,
li {
  line-height: 1.5;
}

p {
  @apply .text-lg .mb-6;
}

hr {
  height: 1px;
  margin: 60px auto;
  @apply .w-5/6 bg-black opacity-25 mx-auto;
}

ol,
ul {
  @apply -ml-4;
  list-style-position: outside;
  li {
    @apply .pl-4 .mb-4 .text-lg;
  }
}

code {
  @apply .text-sm .font-mono .bg-brown-lighter .px-2 .py-1 .mx-1;
}

pre > code {
  @apply .bg-transparent .text-sm .leading-normal;
}

a {
  @apply .cursor-pointer .no-underline;
}

blockquote {
  @apply .font-serif .bg-brown-lighter;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-left: 3px solid grey;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.nuxt-link-exact-active {
  @apply .border-b-2 .border-brown-darker;
}

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, you should import this line from it's own file:
  *
  * @import "./tailwind-utilities.css";
  *
  * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
